@tailwind base;
@tailwind components;
@tailwind utilities;

*, *:hover{
    scrollbar-color: auto;
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 248, 249, 250, 1;
    --background-end-rgb: 248, 249, 250, 1;
    --scrollbar-bg-color: rgb(231 231 231 / 1);
    --scrollbar-border-color: rgb(196, 190, 190);
}

[data-theme="dark"] {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 33, 37, 41, 1;
    --background-end-rgb: 33, 37, 41, 1;
    --scrollbar-bg-color: rgb(4 11 20 / 1);
    --scrollbar-border-color: rgb(22, 23, 31);
}

@layer base {
    body {
        color: rgb(var(--foreground-rgb));
        background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
    }

    section {
        @apply overflow-hidden md:mx-0 mb-10 p-4 rounded-md dark:bg-black
    }

    iframe,
    figure{
        @apply w-full h-auto rounded-md overflow-hidden aspect-video
    }

    p {
        @apply mb-3
    }
}

@layer components {
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        @apply w-full h-full mx-auto px-0
    }

    .hero-container {
        @apply relative flex bg-fixed bg-cover h-full 
    }

    .card {
        @apply min-w-0 w-full bg-ghost-white dark:bg-card-dark rounded-md
    }

    .row{
        @apply block lg:flex flex-wrap mt-4
    }

    .row > *{
        @apply flex-shrink-0 px-4 mt-4
    }

    .content {
        @apply px-4 text-base
    }

    .content a {
        @apply text-teal-500
    }

    .content ul,
    .content ol{
        @apply ps-4
    }

    .content li{
        @apply list-decimal py-1
    }

    .content h2,
    .content h3,
    .content h4,
    .content h5{
        @apply my-2 text-xl
    }

    .content pre.wp-block-code{
        @apply  dark:text-gray-300 text-sm italic font-mono border rounded-md p-4 mb-2  
    }
}


@layer utilities {
    .text-balance {
        @apply text-balance
    }

    .has-text-align-center{
        @apply text-center mt-1
    }

    ::-webkit-scrollbar {
        @apply w-2 bg-transparent 
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-neutral-400 dark:bg-gray-600 rounded-md 
    }
}